################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BAI4.2_4.1Playfair cipher Encrypt Decrypt/Playfair cipher Encrypt Decrypt/.vs/Playfair cipher Encrypt Decrypt/FileContentIndex/791b46ff-71b0-4102-a289-2e626eb5ce9a.vsidx
/BAI4.2_4.1Playfair cipher Encrypt Decrypt/Playfair cipher Encrypt Decrypt/.vs/Playfair cipher Encrypt Decrypt/FileContentIndex/77d61c56-04dd-4a18-8b7e-fcf1795356d4.vsidx
/BAI4.2_4.1Playfair cipher Encrypt Decrypt/Playfair cipher Encrypt Decrypt/.vs/
/RSA/RSA cypher ATM/.vs/RSA cypher ATM/copilot-chat/2418be19/sessions/1ee05f3d-040b-4248-9ce1-ccf38f6f0509
/RSA/RSA cypher ATM/.vs/RSA cypher ATM/FileContentIndex/67340871-3af6-4c4b-a3d3-13beb149454f.vsidx
/RSA/RSA cypher ATM/.vs/RSA cypher ATM/FileContentIndex/81a73915-cf3f-48ad-8cca-5e682ac02873.vsidx
