################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BAI4.2_4.1Playfair cipher Encrypt Decrypt/Playfair cipher Encrypt Decrypt/.vs/Playfair cipher Encrypt Decrypt/FileContentIndex/791b46ff-71b0-4102-a289-2e626eb5ce9a.vsidx
/BAI4.2_4.1Playfair cipher Encrypt Decrypt/Playfair cipher Encrypt Decrypt/.vs/Playfair cipher Encrypt Decrypt/FileContentIndex/77d61c56-04dd-4a18-8b7e-fcf1795356d4.vsidx
